# Student Performance Indicator

### Life cycle of Machine Learning Project
- Understanding the problem statement
- Data Collection
- Data checks to perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choose best model

##### Importing all libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

#### Importing CSV File

In [3]:
df = pd.read_csv('./stud.csv')

In [5]:
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [6]:
df.shape

(1000, 8)

### Checking to be performed
- Check Missing Values
- Check Duplications
- Check Data types
- Check the number of unique values of each column
- Check statistics of data set
- Check various categories present in the different categorical column

#### 1. Checking missing values

In [7]:
df.isna().sum()

gender                         0
race_ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

##### Thereby we can say that there is not even a single missing value in this dataset

#### 2. Check Duplications

In [8]:
df.duplicated().sum()

np.int64(0)

##### Thereby there are no duplicates present in this dataset (Note* If duplicates are present than we can remove them using drop_duplicates() function.)

#### 3. Check Data Types

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race_ethnicity               1000 non-null   object
 2   parental_level_of_education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test_preparation_course      1000 non-null   object
 5   math_score                   1000 non-null   int64
 6   reading_score                1000 non-null   int64
 7   writing_score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

#### 4. Checking Number of Unique values of a column

In [10]:
df.nunique()

gender                          2
race_ethnicity                  5
parental_level_of_education     6
lunch                           2
test_preparation_course         2
math_score                     81
reading_score                  72
writing_score                  77
dtype: int64

#### 5. Checking Statistics of data set

In [11]:
df.describe()

       math_score  reading_score  writing_score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

#### Exploring Data

In [16]:
print("Categories in Gender Variable:", end = " ")
print(df['gender'].unique())
print("Categories in race Variable:", end = " ")
print(df['race_ethnicity'].unique())
print("Categories in parental level of education Variable:", end = " ")
print(df['parental_level_of_education'].unique())
print("Categories in lunch Variable:", end = " ")
print(df['lunch'].unique())
print("Categories in test preparation course Variable:", end = " ")
print(df['test_preparation_course'].unique())

Categories in Gender Variable: ['female' 'male']
Categories in race Variable: ['group B' 'group C' 'group A' 'group D' 'group E']
Categories in parental level of education Variable: ["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']
Categories in lunch Variable: ['standard' 'free/reduced']
Categories in test preparation course Variable: ['none' 'completed']

In [ ]:
#define categorical and numeriacal features
numerical_feature = [feature for feature in df.columns if df[feature].dtype != 'O']
categorical_feature = [feature for feature in df.columns if df[feature].dtype == 'O']
print(numerical_feature)
print(categorical_feature)

['math_score', 'reading_score', 'writing_score']
['gender', 'race_ethnicity', 'parental_level_of_education', 'lunch', 'test_preparation_course']